<template>
  <canvas id="canvasFloatingHexagons"></canvas>
</template>

<script>
export default {
  name: 'FloatingHexagons',
  data () {
    return {
    };
  },
  methods: {

  },
  mounted() {
    let canvas = document.getElementById('canvasFloatingHexagons');
    let ctx = canvas.getContext('2d');

    let resize = () => {
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
    };
    resize();

    window.onresize = resize;

    let hexagonConf = {
      quantity: 50,
      sizeMin: 1,
      sizeMax: 3,
    }
    let hexagonsArray = [];

    let hexagonCreate = () => {
      let size = Math.round(Math.random()* hexagonConf.sizeMax ) + 1  ;
      let x = Math.round(Math.random()*canvas.width);
      let y = Math.round(Math.random()*canvas.height);
      let moveSize = - Math.round(Math.random()*3+1) / 2;

      let hexagon = { x:x, y:y ,moveSize : moveSize, size: size };

      return hexagon;
    };

    let hexagonDraw = (_hexData) => {

      ctx.beginPath();
      // ctx.moveTo(_hexData.x + _hexData.size * Math.cos(0), _hexData.y + _hexData.size * Math.sin(0) );
      ctx.moveTo(_hexData.x , _hexData.y );
      // console.log('hex', _hexData.y);
      for (let i = 0 ; i < 7; i++) {
        ctx.lineTo(_hexData.x + _hexData.size * Math.cos(i * 2 * Math.PI / 6), _hexData.y + _hexData.size * Math.sin(i * 2 * Math.PI / 6));
      }

      ctx.closePath();

      ctx.fillStyle = "rgba(255,255,255,0.3)" ;
      // ctx.strokeStyle = '#666666';
      // ctx.lineWidth = 5;

      ctx.fill();
    };


    let hexagonsMove = () => {
      ctx.clearRect(0,0,canvas.width, canvas.height);
      hexagonsArray.forEach((_hex) => {
        hexagonDraw(_hex);
        _hex.y = _hex.y + _hex.moveSize;
        if(_hex.y > canvas.height){
          _hex.y = 0;
        }
      });
    };


    let framesPerSecond = 25;
    let animate = () => {

      if(hexagonsArray.length < 1){
        for (let i = 0; i < hexagonConf.quantity; i++) {
          hexagonsArray.push(hexagonCreate());
        }
      }

      setTimeout( () => {
        requestAnimationFrame(animate);
        hexagonsMove();
        // ctx.clearRect(0,0,canvas.width, canvas.height);

      }, 1000 / framesPerSecond);
    };
    animate();

  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  #canvasNoise{
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    z-index: 99;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events: none;

  }

</style>
