<template>
    <canvas id="canvasNoise" v-if="!$store.state.isAdminMode"></canvas>
</template>

<script>

export default {
  name: 'Noise',
  data () {
    return {
      noiseDisable: false,
    };
  },
  methods: {
    startNoise(){
      let canvas = document.getElementById('canvasNoise');
      let ctx = canvas.getContext('2d');
      var iData = { array: [], counter: 0, maxFrames: 4 };
      let resize = () => {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;
          iData.array= [];
          iData.counter = 0;
      };
      resize();
      window.onresize = resize;
      let noise = (ctx) => {
        if(iData.array.length < iData.maxFrames ){
          var w = ctx.canvas.width;
          var h = ctx.canvas.height;
          iData.array[iData.counter] = ctx.createImageData(w, h);
          var buffer32 = new Uint32Array(iData.array[iData.counter].data.buffer);
          // var len = ;
          for (let i = 0 ; i < buffer32.length; i++){
            // buffer32[i] = ( (255 * Math.random()) | 0 ) << 24;
             buffer32[i] = Math.random() < 0.5 ? 0 : -1>>0
          }
        }
        if(iData.counter >= iData.maxFrames){
          iData.counter = 0;
        }
        ctx.putImageData(iData.array[iData.counter], 0, 0);
        iData.counter++;
      };

      let framesPerSecond = 10;
      let animate = () => {
        if(this.$store.state.isAdminMode) return;
          window.setTimeout( () => {
              requestAnimationFrame(animate);
              if(this.$store.state.isAdminMode) return;
              noise(ctx);
          }, 1000 / framesPerSecond);
      };
      animate();
    }

},
  mounted() {
    this.startNoise();
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

#canvasNoise{
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.07;
  z-index: 99;
  top:0;
  right:0;
  bottom:0;
  left:0;
  pointer-events: none;

}

</style>
