<template>
  <div class="particles-wrapper">
    <!-- <vue-particles color="#dedede"></vue-particles> -->
    <vue-particles
    color="#dedede"
    :particleOpacity="0.08"
    :particlesNumber="80"
    shapeType="circle"
    :particleSize="4"
    linesColor="#dedede"
    :linesWidth="0"
    :lineLinked="false"
    :lineOpacity="0.4"
    :linesDistance="150"
    :moveSpeed="3"
    :hoverEffect="false"
    hoverMode="grab"
    :clickEffect="false"
    clickMode="push"
    >
  </vue-particles>
  </div>
</template>

<script>
export default {
  name: 'Particles',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.particles-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: $grey-d;
}

</style>
