<template>
  <div id="eotmAppContainer" :class="{ 'is-admin' : $store.state.isAdminMode , 'no-scroll' : $store.state.noScroll }">

    <noise></noise>
    <!-- <welcome-loader v-if="!enterAnimationDone"></welcome-loader> -->
    <welcome-loader-simple v-if="!enterAnimationDone"></welcome-loader-simple>

    <app-cursor v-if="enterAnimationDone" ></app-cursor>

    <div id="eotmBackground"></div>

    <transition name="nav">
      <div class="eotm-content-container" v-show="enterAnimationDone" >

        <app-nav @searchMenuState='searchState'></app-nav>

        <div id="scrollContainer"    >
          <div  id="scrollableContainer" class="" data-scroll >
            <main class="content-wrapper" :class="{ 'content-extra-margin' : contentExtraMargin }">
              <router-view></router-view>
            </main>
            <app-footer></app-footer>
          </div>

        </div>

        <!-- NOTE: article gallery outside of the scroll container -->
        <gallery v-if="$store.state.gallery" ></gallery>

      </div>
    </transition>

  </div>
</template>

<script>

import Noise from "./app/background/Noise.vue";
// import WelcomeLoader from "./app/welcome/welcomeLoader.vue";
import WelcomeLoaderSimple from "./app/welcome/welcomeLoaderSimple.vue";

import appNav from "./app/navigation/Navigation.vue";
import appFooter from "./app//Footer.vue";

import AppCursor from "./app/cursor/appCursor.vue";

import { UserService } from "./app/admin/UserService.js";

import { mapState } from 'vuex';
import {CanvasService}  from './app/utilities/canvas/canvasService.js';

import Gallery from "./app/article/gallery/gallery.vue";

export default {
  name: "App",
  components: {
    Noise,
    WelcomeLoaderSimple,
    appNav,
    appFooter,
    AppCursor,
    Gallery,
  },
  computed: mapState(['enterAnimationDone']),
  data() {
    return {
      contentExtraMargin: false,
    };
  },
  methods: {
    searchState (contentExtraMargin) {
      this.contentExtraMargin = contentExtraMargin;
    }
  },
  watch: {
    $route (to, from) {
      CanvasService.scrollToTop();
    },
  },
  mounted() {
    CanvasService.canvasInit();

    UserService.getCurrent().then(_data => {
      if (_data) {
        this.$store.state.isAdminMode = true;
        this.$store.state.currentUser = _data;
      }
    });

  }
};
</script>
<style  lang="scss">
@import "./assets/scss/_main.scss";

#eotmAppContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &.no-scroll {
    height: calc(100vh - 20px); // TODO: find the 20px difference - what is the cause?
    overflow: hidden;
  }
}

#scrollContainer{
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;
}
#scrollableContainer{
  will-change: transform;
}

.content-wrapper {
  position: relative;
  padding-top: 25vh;
  min-height: 100vh;
  // transition: ease margin 0.3s;
  @include respond-width($w768) {
    padding-top: 25vh;
  }
  @include respond-width($w550) {
    padding-top: 15vh;
  }
}

.content-extra-margin {
  margin-top: 0px;
}

#eotmBackground {
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: $grey-d-bg;
  &:after {
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
    position: absolute;
    background-image: $bg-radient;
  }
}

#particles-js{
  // position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  // background: grey;
}

.nav-enter-active,
.nav-leave-active {
  transition: ease all 1.4s;
}
.nav-enter,
.nav-leave-to {
  opacity: 0;
}
.nav-enter-to,
.nav-leave {
  opacity: 1;
}
</style>
