<template>

  <div class="login-wrapper admin">
    <h2 class="headline">
      Admin
    </h2>
    <div class="" v-if="!currentUser">
    <div class="login-error">
      <span v-if="error">Wrong password or email</span>
    </div>
      <input type="text" name="email" v-model="email" placeholder="Email" >
      <input type="password" name="password" v-model="password" placeholder="Password">
      <span class="btn" @click="login">
        Login
      </span>
    </div>
    <br>
    <div class="" v-if="currentUser">
      <span>Current user:</span><span> {{currentUser.email}}</span>
      <span class="btn warning" @click="logoutUser()"> (logout) </span>
      <div class="" >
        <br>
        <router-link class="btn" :to="{ name: 'AdminThumbs'}"  >
          Thumbs Admin
        </router-link>
      </div>
    </div>

  </div>

</template>

<script>

import {UserService} from './UserService.js';

export default {
  name: 'Login',
  data () {
    return {
      email: null ,
      password: null,
      error: false,
      currentUser: null,
    };
  },
  created: function (){

  },
  methods: {
    login(){
      UserService.login(this.email, this.password).then(_data => {
        if (_data) {
          console.log('user service admin mode login');
          this.$store.state.isAdminMode = true;
          this.$store.state.currentUser = _data;
          this.$router.push({ name: 'AdminThumbs'})
          this.error = false;
        }else{
          this.error = true;
        }
      })
    },
    logoutUser(){
      UserService.logout().then(_data => {
        if (_data) {
          this.currentUser = null;
          this.$store.state.isAdminMode = false;
          this.$store.state.currentUser = false;

        }
      })
    }
  },
  mounted(){
    UserService.getCurrent().then(_data => {
      if (_data) {
        this.$store.state.isAdminMode = true;
        this.currentUser = _data;
        this.$store.state.currentUser = _data;
      }
    })
  }

}

</script>

<style scoped lang="scss" >

// @import '../../assets/scss/_admin.scss';


.login-wrapper{
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .headline{
    // color: $g;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 35px;
  }
}


.login-error{
  color: red;
}

</style>
