<template>

  <div class="thumbs-container admin"  >

    <div class="admin-panel">
      <input type="text" name="" value="" v-model="searchWord" placeholder="Search" >
      <div class="published-options">
        <div>
          <input id="all" type="radio" name="" value="all" v-model="articleStatusFilter">
          <label for="all">all</label>
        </div>
        <div>
          <input id="ready" type="radio" name="" value="ready" v-model="articleStatusFilter">
          <label for="ready">ready</label>
        </div>
        <div>
          <input id="live" type="radio" name="" value="live" v-model="articleStatusFilter">
          <label for="live">live</label>
        </div>
        <div>
          <input id="notLive" type="checkbox" name="" value="false" v-model="andNotPublishedFilter">
          <label for="notLive">not published</label>
        </div>
      </div>
    </div>

    <div class="thumbs-wrapper">

      <div class="thumb-wrapper">
        <div class="thumb-hex-wrapper"  >
          <div class="thumb-hex">
            <div class="thumb">
              <div class="t-bg"> </div>
              <div class="t-content"   >
                <div class="t-cont-static" >
                  <br>
                  <span>New Article Href*:</span>
                  <input type="text" name="" value="" v-model="newArticleData.href">
                  <br>
                  <span>Title*:</span><input type="text" name="" v-model="newArticleData.title" >
                  <br>
                  <br>
                  <div class="btn" @click="addNewArticle()">
                    +  add article +
                  </div>
                  <div class="new-article-error" v-show="newArticleError">
                    * are required fields, href has to be a unique entry
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <thumb  :key="article._id"  v-for="article in thumbsData" :article="article"></thumb> -->


        <div class="thumb-wrapper" :key="article.href" v-for="article in thumbsData"  >

          <router-link :to="{ name: 'AdminArticle', params: { href: article.href }}"
           :data-cursorsize="$store.state.cursorHover.size"
            :data-cursoropacity="$store.state.cursorHover.opacity">
            <div class="thumb-hex-wrapper" >
              <div class="thumb-hex">
                <div class="thumb">
                  <div class="t-bg">
                    <img :src="'/assets/thumbs/' + article.thumb.picture.path" alt="" v-imgloader>
                  </div>
                  <div class="t-content"   >
                    <div class="t-cont-dynamic"  >
                      <div class="t-headline" >{{article.thumb.title}}</div>
                      <p class="t-desc">{{article.thumb.description}}</p>
                    </div>
                    <div class="t-cont-static" >
                      <span v-for="tag in article.tags.slice(0, 3)">#{{tag}} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </router-link>

        </div>

    </div>

    <div class="load-more-btn" @click="fetchThumbsPage(true)" :data-cursorsize="$store.state.cursorHover.size"
        :data-cursoropacity="$store.state.cursorHover.opacity">
      <span class="text" :data-cursorsize="$store.state.cursorHover.size"
        :data-cursoropacity="$store.state.cursorHover.opacity" >more</span>
      <span class="arrow" :data-cursorsize="$store.state.cursorHover.size"
        :data-cursoropacity="$store.state.cursorHover.opacity" ></span>
      <span class="arrow copy" :data-cursorsize="$store.state.cursorHover.size"
        :data-cursoropacity="$store.state.cursorHover.opacity" ></span>
    </div>

  </div>

</template>

<script>

  import {AdminThumbsService} from './AdminThumbsService.js';
  import {AdminArticleService} from './AdminArticleService.js'
  import {UserService} from './UserService.js';

  import Thumb from "../thumbs/Thumb.vue";


  export default {
    name: 'Thumbs',
    props: ['searchword'],
    components: {
      Thumb,
    },
    data () {
      return {
        thumbsData: [],
        currentThumbsPage: 1,
        articleStatusFilter: 'all',
        andNotPublishedFilter: false,
        searchWord: null,
        newArticleData: {href: null, title: null},
        newArticleError: false,
      }
    },
    methods: {
      fetchThumbsPage ( _nextPage){
        if(_nextPage){
          this.currentThumbsPage++
        }else {
          this.currentThumbsPage = 1;
          this.thumbsData = [];
        }
        if(this.searchWord && this.searchWord.length > 1){
          AdminThumbsService.searchThumbsPage(this.searchWord, 'undefined', this.currentThumbsPage,  this.articleStatusFilter, this.andNotPublishedFilter).then((_data)=>{
            console.log( this.articleStatusFilter)
            if(this.currentThumbsPage == 1 && _data.articles.length < 1){
              this.thumbsData = []
            }else {
              this.thumbsData = this.thumbsData.concat(_data.articles);
            }
          })
        }else {
          AdminThumbsService.getThumbsPage(this.currentThumbsPage, this.articleStatusFilter, this.andNotPublishedFilter ).then((_data)=>{
            this.thumbsData = _data.articles;
          })
        }
      },
      addNewArticle(){

        if(!this.newArticleData.title || this.newArticleData.title.length < 1 || !this.newArticleData.href || this.newArticleData.href.length < 1) {
          this.newArticleError = true;
          return;
        }
        this.newArticleError = false;

        AdminArticleService.add(this.newArticleData.href, this.newArticleData.title).then(_data => {
          if(_data.href){
            this.$router.push({ name: 'AdminArticle' , params:{ href: _data.href} });
          }else {
            this.newArticleError = true;
          }
        })
      }

    },
    watch: {
      $route (to, from){
        this.fetchThumbsPage(false);
      },
      articleStatusFilter(){
        this.fetchThumbsPage(false);
      },
      searchWord(){
        this.fetchThumbsPage(false);
      },
      newArticleData:{
        handler(){
          this.newArticleError = false;
        },
        deep:true
      }
    },
    mounted () {
      UserService.getCurrent().then(_data => {
        if (!_data) {
          this.$router.push({ name: 'AdminLogin'})
        }else {
          this.fetchThumbsPage(false)
        }
      })
    },
    beforeDestroy () {

    }
  }
</script>

<style scoped lang="scss">

// @import '../../assets/scss/_admin.scss';

  .thumbs-container {
    margin: 0px auto 150px;
    padding-top: 0px;
    color: $white;
    text-align: center;
    width: 1500px;

    @include respond-width($width-4thumbs) {
      width: 1125px;
    }
    @include respond-width($width-3thumbs) {
      width: 735px;
      // overflow: hidden;
    }
    @include respond-width($width-2thumbs) {
      width: 300px;
      max-width: 100%;
    }
  }

  .thumb-wrapper{
    position: relative;
    display: inline-block;
    transition: linear all 0.3s;
    margin: -75px 10px;
    transform: scale(1);
    width: 300px;
    height: 345px;

    &.empty-thumb{
      opacity: 0;
    }

    &:hover{
      .t-bg{
        &:after{
          background: $green-trans;
        }
      }
    }

    //******hexagon THUMBS grid**************
    $leftMoveConf: 80px;
    @include respond-thumbs ( 5000px , $width-4thumbs) {
      &:nth-child(8n+1),
      &:nth-child(8n+2),
      &:nth-child(8n+3) ,
      &:nth-child(8n+4) {
        left: $leftMoveConf;
      }
      &:nth-child(8n+5),
      &:nth-child(8n+6),
      &:nth-child(8n+7) ,
      &:nth-child(8n+8) {
        left:  -$leftMoveConf;
      }
    }
    @include respond-thumbs( $width-4thumbs , $width-3thumbs) {
      &:nth-child(6n+1),
      &:nth-child(6n+2),
      &:nth-child(6n+3) {
        left: $leftMoveConf;

      }
      &:nth-child(6n+4),
      &:nth-child(6n+5),
      &:nth-child(6n+6) {
        left:  -$leftMoveConf;

      }
    }
    @include respond-thumbs($width-3thumbs, $width-2thumbs) {
      &:nth-child(4n+1),
      &:nth-child(4n+2) {
        left: $leftMoveConf;
      }
      &:nth-child(4n+3),
      &:nth-child(4n+4) {
        left:  -$leftMoveConf;

      }
    }

    a{
      color: $white;
    }

    @include respond-width($width-thumbs-flat){
      left: auto;
      width: 100%;
      height: 23vh;
      min-height: 150px;
      margin: 3px auto;
      border-radius: 5px;
      overflow: hidden;
  }

  }

  .thumb-hex-wrapper {
    height: 100%;
    width: 100%;
    z-index: 4;
    transform: skewY(0deg) rotate(120deg) ;
    overflow: hidden;
    visibility: hidden;

    * {
      visibility: visible;
    }

    @include respond-width($width-thumbs-flat){
      overflow: visible;
    }
  }

  .thumb-hex,
  .thumb{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    @include respond-width($width-thumbs-flat){
      overflow: visible;
    }
  }
  .thumb-hex{
    transform: skewY(0deg) rotate(-60deg);
  }
  .thumb{
    transform: skewY(0deg) rotate(-60deg);
  }

  .t-bg{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    &:after{
      transition: ease all 0.2s;
      opacity: 1;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      margin: auto;
      background: $black-trans;
    }
    img{
      // filter: grayscale(100%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }


  .t-content{
    // transition: $thumbCubicBezier all $thumbDynamic;
    height: 50px;
    position: absolute;
    top: 25%;
    transform: translate(0 , -50%);
    right: 0px;
    left: 0px;
    margin: 0 auto;
    width: 95%;
    // padding: 20px;
    text-align: center;
  }
  .t-cont-static{
    width: 235px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  .t-cont-dynamic{
    text-align: center;
    margin: 10px auto;
    // transform: translate(0px, 25px);
    // opacity: 0;
    font-size: 14px;
    // transition: $thumbCubicBezier all $thumbDynamic;
  }
  .t-headline{
    margin-bottom: 5px;
    // transition: $thumbCubicBezier all $thumbDynamic;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 23px;
  }
  .t-desc{
    margin: 10px auto;
    letter-spacing: 0px;
  }


  .load-more-btn{
    // border: solid white 1px;
    float: right;
    position: relative;
    right: 30px;
    width: 50px;
    height: 110px;
    .text{
      top: 10px;
      right: -10px;
      position: absolute;
      display: block;
      transform: rotate(90deg);
      transform-origin: bottom;
      color: $green;
      font-weight: 300;
      // letter-spacing: 3px;
      text-transform: uppercase;
    }
    .arrow{
      transition: ease all 0.2s;
      left: 20px;
      top: 0px;
      position: absolute;
      display: block;
      height: 100%;
      width: 2px;
      background: $green;
      &.copy{
        background: transparent;

      }
      &:before,
      &:after{
        content: '';
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        height: 2px;
        width: 35px;
        bottom: 10px;
        left: -4px;
        background: #3EC28F;
      }
      &:before{
        left: -29px;
        transform: rotate(45deg);
      }

    }
  }

</style>
