<template>
  <div class="article-wrapper admin" v-if="articleData">

    <div class="admin-panel">
<!--       <div class>
        <br />
        <h3>Publication</h3>
        <label class="btn" for="statusReady">ready:</label>
        <input id="statusReady" type="checkbox" name v-model="articleData.status.ready" />
        <span>| {{articleData.status.ready}}</span>
        <br />
        <label class="btn" for="statusLive">live:</label>
        <input id="statusLive" type="checkbox" name v-model="articleData.status.live" />
        <span>| {{articleData.status.live}}</span>
      </div> -->
      <div class="admin-panel__date">
        <h3 class="admin-panel__title">Publication</h3>
        <div class="post-date">
          <label>post date</label>
          <input type="date" v-model="articleData.dateCreated">
        </div>

        <div class="btn reset" @click="resetDateCreateTime">reset</div>

<!--
        <br />
        <span>{{articleData.dateCreated}}</span>
        <br /> -->
      </div>

<!--       <div class="btn" @click="$router.push({ name: 'AdminThumbs'} )">-> thumbs admin</div>
      <div
        class="btn"
        @click="$router.push({ name: 'Article' , params: { href: articleData.href }} )"
      >-> view article</div> -->
<!--       <div class="btn" v-if="$store.state.currentUser.isAdmin" @click="saveArticle()">
        -> save
        <span v-if="savingArticle">Saving</span>
      </div> -->

      <div class="admin-panel__settings">
        <h3 class="admin-panel__title">Settings</h3>
        <input type="text" name placeholder="href link here" v-model="articleData.href" />

        <div>
          <label>shop Link</label>
          <input type="text" name placeholder="type shop link here" v-model="articleData.shopLink" />
        </div>

        <div>
          <!-- <span>thumb format</span>
          <input type="text" name placeholder=".png" v-model="articleData.thumb.picture.format" /> -->

          <label for="thumb-format">thumb format</label>
          <select name="thumb-format" v-model="articleData.format" id="">
            <option disabled value="">Choose format...</option>
            <option value="jpg">.jpg</option>
            <option value="png">.png</option>
          </select>
        </div>

        <div class="setting">
          <span>Name picture preview:</span>
          <span>{{articleData.thumb.picture.path}}</span>
          <img :src="'/assets/thumbs/' + articleData.thumb.picture.path" alt />
        </div>

      </div>
      <div class="btn warning" @click="deleteArticle()">delete</div>
      <!-- <div v-if="$store.state.currentUser.isAdmin" class="warning btn" @click="deleteArticle()">delete</div> -->
    </div>

    <div class="content__wrapper">
<!--     <div class>
      <span>href:</span>
      <input type="text" name placeholder="href/url" v-model="articleData.href" />
      <span>| Shop Link:</span>
      <input type="text" name placeholder="link to the shop" v-model="articleData.shopLink" />
      <div class="thumb-admin">
        <span>Thumb format:</span>
        <input type="text" name placeholder=".png" v-model="articleData.thumb.picture.format" />
        <span>| name:</span>
        <span>{{articleData.thumb.picture.path}}</span>
        <span>| pic:</span>
        <img :src="'/assets/thumbs/' + articleData.thumb.picture.path" alt />
      </div>
      <br />
      <br />
    </div> -->
      <div class="content__header" :class="{ 'header--background': !hiddeBackground }">
        <h2>Content</h2>
        <div class="content-status__wrapper">
          <div class="switch-wrapper">
            <label class="switch" for="statusLive">
              <input id="statusLive" type="checkbox" name v-model="articleData.status.live" class="checkbox">
              <span class="toggle-thumb">{{articleData.status.live}}</span>
            </label>
            <span class="switch-wrapper__title">Published</span>
          </div>

          <div class="switch-wrapper">
            <label class="switch" for="statusReady">
              <input id="statusReady" type="checkbox" name v-model="articleData.status.ready" class="checkbox">
              <span class="toggle-thumb">{{articleData.status.ready}}</span>
            </label>
            <span class="switch-wrapper__title">Ready</span>
          </div>

          <div class="btn btn--preview" @click="previewArticle()">
            <label>preview</label>
            <span></span>
          </div>

          <div class="btn--save-wrapper">
            <div class="btn btn--save" @click="saveArticle()">
              <span v-if="saving">saving...</span>
              <span v-else>save</span>
            </div>
            <span class="color-red" v-if="articleDataChanged">edited</span>
          </div>

        </div>
      </div>

      <div class="article article__title">
        <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <label>title</label>
        <input type="text" name placeholder="Type your title here..." v-model="articleData.content.title" />
      </div>

      <div class="article article__header">
        <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <label>header</label>
        <textarea
          type="text"
          name
          v-model="articleData.content.description"
          placeholder="Type your header here..."
        ></textarea>
      </div>

      <div class="article article__content-block" v-for="(item, index) in articleData.content.knowledge" :key="item.itemId" v-show="currentContentType == 'knowledge'">
        <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <label>content block</label>
        <div class="svg__content-block">
          <svg width="14" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 .93v13M1 8.43l6 6 6-6" stroke="#3EC28F"/></svg>
          <svg width="14" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 14.43v-13M13 6.93l-6-6-6 6" stroke="#3EC28F"/></svg>
          <svg class="svg-delete block-right warning" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M.5.43L13 12.93M13 .43L.5 12.93" /></svg>
        </div>

        <textarea
          type="text"
          name
          v-model="item.description"
          placeholder="Type your content here..."
        ></textarea>

        <div class="article article__url">
          <div class="video-url">
            <label for="">video url</label>
            <div class="url-input__wrapper">
            <input type="text" name placeholder="Type video url here..." v-model="item.videoUrl" />
            <svg class="url-svg" v-show="!item.videoUrl" width="16" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.667 6.264A2.669 2.669 0 010 3.597 2.669 2.669 0 012.667.931h3.91A2.667 2.667 0 019.24 3.39a.356.356 0 01-.711.05 1.94 1.94 0 00-1.95-1.8H2.667c-1.09 0-1.956.867-1.956 1.956 0 1.09.866 1.956 1.956 1.956H6.4a.356.356 0 110 .711H2.667zm6.755 0a2.667 2.667 0 01-2.66-2.461.356.356 0 11.71-.05 1.94 1.94 0 001.95 1.8h3.911c1.09 0 1.956-.866 1.956-1.956 0-1.09-.866-1.955-1.956-1.955H9.6a.355.355 0 110-.711h3.733A2.669 2.669 0 0116 3.597a2.669 2.669 0 01-2.667 2.667h-3.91z" fill="#3EC28F"/></svg>
            </div>
            <span v-if="item.videoUrl">
              <iframe
                data-cursorsize="0"
                :src="'/' + item.videoUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </span>
          </div>
          <div class="image-url">
            <label>img url</label>
            <div class="img-input__wrapper">
            <input type="text" name placeholder="Type img url here..." v-model="item.picture" />
            <svg class="img-svg" v-show="!item.picture" width="16" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.667 6.264A2.669 2.669 0 010 3.597 2.669 2.669 0 012.667.931h3.91A2.667 2.667 0 019.24 3.39a.356.356 0 01-.711.05 1.94 1.94 0 00-1.95-1.8H2.667c-1.09 0-1.956.867-1.956 1.956 0 1.09.866 1.956 1.956 1.956H6.4a.356.356 0 110 .711H2.667zm6.755 0a2.667 2.667 0 01-2.66-2.461.356.356 0 11.71-.05 1.94 1.94 0 001.95 1.8h3.911c1.09 0 1.956-.866 1.956-1.956 0-1.09-.866-1.955-1.956-1.955H9.6a.355.355 0 110-.711h3.733A2.669 2.669 0 0116 3.597a2.669 2.669 0 01-2.667 2.667h-3.91z" fill="#3EC28F"/></svg>
            </div>
            <span v-if="item.picture">
              <img :src="'/assets/galleries/' + articleData.href + '/' + item.picture" alt />
            </span>
          </div>
        </div>
      </div>

      <button class="content-tab-button btn" @click="addContentBlock()" v-show="currentContentType == 'knowledge'">add content block <span>+</span>
      </button>

<!--     <div class="content-tabs">
      <span
        class="btn"
        @click="currentContentType = 'gallery'"
        :class="{'active': currentContentType == 'gallery' }"
      >Gallery</span>
      <span>|</span>
      <span
        class="btn"
        @click="currentContentType ='knowledge'"
        :class="{'active': currentContentType == 'knowledge' }"
      >Knowledge</span>
       <span
        class="content-tab-button btn"
        @click="articleData.content.knowledge.push({description: null, videoUrl: null, picture:null })"
        v-show="currentContentType == 'knowledge'"
      >+ add knowledge block</span>
    </div>

    <hr> -->
    <!-- <br /> -->
    <!-- <br /> -->

    <!-- <div class="knowledge-container" v-show="currentContentType == 'knowledge'">
      <br />
      <div class="knowledge-block" v-for="(item, index) in articleData.content.knowledge">
        <div class="block-headline">
          <span
            class="color-green"
          >------------------------</span>
          <br />
          <span>knowledge item {{index + 1}}</span>
          <span
            class="btn"
            @click=" articleData.content.knowledge.splice(articleData.content.knowledge.indexOf(item) , 1) "
          >|x|</span>
          <br />
          <span
            class="color-green"
          >------------------------</span>
        </div>
        <p class="section-description">
          <span>description:</span>
          <textarea
            type="text"
            name
            placeholder="fill in this knowledge block's description"
            v-model="item.description"
          ></textarea>
        </p>
         <div class="block-content">
          <span>videoUrl:</span>
          <input type="text" name placeholder="link of video" v-model="item.videoUrl" />
          <span v-if="item.videoUrl">
            <span>|</span>
            <iframe
              data-cursorsize="0"
              :src="'/' + item.videoUrl"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </span>
          <span>| picture:</span>
          <input type="text" name placeholder="picture name" v-model="item.picture" />
          <span v-if="item.picture">
            <span>|</span>
            <img :src="'/assets/galleries/' + articleData.href + '/' + item.picture" alt />
          </span>
        </div>
        <br />
      </div>
    </div> -->

    <!-- <div class="pictures-container" v-show="currentContentType == 'gallery'"> -->
    <div class="article article__gallery">
      <!-- <div class="pictures-container"> -->

      <!-- <div class="section-description"> -->
        <div class="article__gallery-description">
          <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
          <label>gallery</label>
          <svg @click="deleteGallery()" class="svg-delete gallery-right warning" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M.5.43L13 12.93M13 .43L.5 12.93" /></svg>
          <textarea
            type="text"
            name
            placeholder="Type caption here..."
            v-model="articleData.content.gallery.description"
          ></textarea>
        </div>
        <div class="picture-options">
          <div class="picture-options__main">
<!--             <label for="mainPicture">main picture</label>
            <input
              type="checkbox"
              name
              id="mainPicture"
              v-model="articleData.content.gallery.mainPicture"
            /> -->
            <label class="main-picture-label" for="mainPicture">main picture:
              <input type="checkbox" id="mainPicture" v-model="articleData.content.gallery.mainPicture" />
              <span class="main-picture" @click="setMainPicture()" aria-label="Main picture"></span>
            </label>
          </div>
        <!--  <span>| size:</span> -->
          <div class="picture-options__format">
            <label for="pic-format">picture format</label>
            <div class="format-select__wrapper">
              <select class="format-select" name="pic-format" id="" v-model="articleData.content.gallery.format">
                <option disabled selected value>Choose format...</option>
                <option value=".jpg">.jpg</option>
                <option value=".png">.png</option>
              </select>
              <svg class="format-select__svg" width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </div>
          </div>
          <div class="picture-options__amount">
            <label for="">amount of pictures</label>
            <div class="amount-input">
              <span>-</span>
              <input
              type="text"
              placeholder=""
              name
              v-model="articleData.content.gallery.size"/>
              <span>+</span>
            </div>
          </div>


      <!--   <span>| format:</span>
        <input type="text" name placeholder=".jpg" v-model="articleData.content.gallery.format" />
        <span>|</span> -->
          <!-- <span class="btn warning" @click="deleteGallery()">- delete gallery</span> -->

  <!--         <div class="gallery-checker">
            <span v-for="(item, index) in articleData.content.gallery.pictures">
              <img :src="'/assets/galleries/' + articleData.href + '/' + item[0]" alt />
              <img :src="'/assets/galleries/' + articleData.href + '/' + item[1]" alt />
              <span class="pic-index">{{index + 1}}</span>
            </span>
          </div> -->
        </div>
      </div>

   <!--  <br />
    <br /> -->

    <div class="article article__tags-wrapper">
      <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <label>tags</label>
      <div class="article__tags-input">
        <input type="text" name value placeholder="Type tag name..." v-model="newTagItem" />
        <span class="btn btn--add" @click="addTagItem(newTagItem)">Add tag <span>+</span></span>
      </div>

      <div class="tags">
        <div class="tags-wrapper" v-for="tag in articleData.tags">
          <span class="tag">#{{tag}}</span>
          <span class="btn btn--width-small" @click="articleData.tags.splice(articleData.tags.indexOf(tag) , 1)"></span>
        </div>
      </div>

       <div class="tag-option__wrapper">
        <span
          class="btn tag-option"
          v-for="(tag, id) in newTagOptions" :key="id"
          @click="addTagItem(tag.name)"
        >#{{tag.name}}</span>
      </div>
    </div>

    <div class="article article__sources-wrapper">
      <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 .93l5 5 5-5" stroke="#3EC28F" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <label>sources</label>
      <svg class="svg-delete sources-right warning" width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.5.43L13 12.93M13 .43L.5 12.93" /></svg>

      <div class="sources">
        <input type="text" name placeholder="Type tag name..." v-model="newSourceItem" />
        <span
          class="btn btn--add btn--width-large"
          @click="articleData.content.sources.push(newSourceItem), newSourceItem = null"
        >Add source +</span>
      </div>

      <div v-for="source in articleData.content.sources">
        <div class="source-wrapper">
        <span>{{source}}</span>
        <span
          class="btn btn--width-small"
          @click=" articleData.content.sources.splice(articleData.content.sources.indexOf(source) , 1) "
        >x</span>
        </div>
      </div>
    </div>

    </div>
  </div>
</template>

<script>
import { ArticleService } from "../article/ArticleService.js";
import { AdminArticleService } from "./AdminArticleService.js";
import { UserService } from "./UserService.js";
import { TagsService } from "../article/TagsService.js";

export default {
  name: "Article",
  props: ["href"],
  components: {
    // Gallery,
  },
  data() {
    return {
      articleData: null,
      newSourceItem: null,
      newTagItem: null,
      newTagOptions: null,
      newTagInputAddEnabled: false,
      currentContentType: "knowledge",
      articleDataChanged: false,
      saving: false,
      hiddeBackground: true,
      lastScrollPosition: 0,
    };
  },
/*   directives: {
    scroll: {
      inserted: function (el, binding) {
        let f = function (evt) {
          if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f)
          }
        }
        window.addEventListener('scroll', f)
      }
    }
  }, */
  methods: {
    getArticle(_mounted) {
      ArticleService.getArticle(this.href).then((_data) => {
        this.articleData = _data;
        this.articleDataChanged = false;

        if (_mounted) {
          this.currentContentType =
            this.articleData.content.gallery &&
            this.articleData.content.gallery.size
              ? "gallery"
              : "knowledge";
        }
      });
    },
    deleteGallery() {
      this.articleData.content.gallery = {
        pictures: [],
      };
    },
    addTagItem(_tag) {
      if (!this.articleData.tags.includes(_tag) && _tag) {
        this.newTagItem = null;
        this.articleData.tags.push(_tag);
      }
    },
    deleteArticle() {
      let deleteConfirm = window.confirm(
        "Are you sure you want to delete this article?"
      );
      if (deleteConfirm) {
        AdminArticleService.delete(this.articleData.href).then((_data) => {
          this.$router.push({ name: "AdminThumbs" });
        });
      }
    },
    previewArticle() {
      this.$router.push({ name: 'Article', params: { href: this.articleData.href }})
    },
    saveArticle() {
      this.saving = true
      console.log("this.articleData"  , this.articleData);
      AdminArticleService.update(this.articleData).then((_data) => {
        //console.log(this.articleData)
        this.saving = false;
        // this.articleDataChanged = false;
        this.getArticle();
      });
    },
    resetDateCreateTime() {
      this.articleData.dateCreated = new Date();
    },
    addContentBlock(){
      //console.log(this.articleData.content)
      this.articleData.content.knowledge.push({description: null, videoUrl: null, picture:null })
    },
    setMainPicture() {
      console.log(this.articleData.content)
    },
    onScroll() {
      const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop

      if (currentScrollPosition < 0) {
        return
      }

      this.hiddeBackground = currentScrollPosition < this.lastScrollPosition

      if (currentScrollPosition === this.lastScrollPosition) {
         this.hiddeBackground = true
      }
    },
  },
  mounted() {
    UserService.getCurrent().then((_data) => {
      if (!_data) {
        this.$router.push({ name: "AdminLogin" });
      } else {
        this.getArticle(true);
      }
    });
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  },
  watch: {
    newTagItem(val, oldVal) {
      this.newTagInputAddEnabled = false;
      if (!val) {
        this.newTagOptions = [];
        return;
      }
      TagsService.search(val).then((_data) => {
        this.newTagOptions = _data;
        if (val && _data.length < 1) {
          this.newTagInputAddEnabled = true;
        }
      });
    },
    articleData: {
      deep: true,
      handler(val, oldVal) {
        //console.log('xxx', val === oldVal, val, oldVal);
        this.articleDataChanged = val === oldVal ? true : false;
      },
    },
  },
};
</script>

    <!-- Add "scoped" attribute to limit CSS to this component only -->
    <style scoped lang="scss" >
// @import "../../assets/scss/_admin.scss";

  .content {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      z-index: 1;
      top: 18vh;
      padding: 15px;

        @include respond-width($w1370) {
        flex-direction: column;
        align-items: flex-start;
        top: 14vh;
      }

      @include respond-width($w991) {
        position: static;
      }
    }

    &__wrapper {
      max-width: 857px;
      flex: 1 1 auto;

      button {
        background-color: $green;
        width: 200px;
        margin: 4px 0 29px;
        span {
          border-radius: 50%;
          border: 1px solid white;
          margin-left: 13px;
          padding: 1px 4px 1px 5px;
        }
      }
    }

    &-status__wrapper {
      display: flex;
      align-items: flex-start;
      margin-left: 10px;

      @include respond-width($w1370) {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  .header--background {
    color: #e1e1e1;
    background: rgba(10, 10, 10, 0.5);
    border-radius: 1px;
    //padding: 15px;
    transition: all 0.2s ease-in;
  }

  .switch-wrapper {
      display: flex;
      align-items: center;

      &__title {
        margin-left: 10px;
        font-size: 14px;
      }
  }

  .switch-wrapper:first-child {
    margin-right: 15px;
  }

  .switch {
    display: inline-block;
    //width: 56px;
    width: 90px;
    height: 32px;
    position: relative;
}

.article-wrapper {
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include respond-width($w768) {
      flex-direction: column;
    }
}

  .article {
    //max-width: 857px;
    background-color: #05100B;
    //background-color: pink;
    padding: 23px 26px 32px 26px;
    margin-bottom: 19px;
    font-size: 12px;

    label {
      font-weight: 300;
      text-transform: uppercase;
      color: $green;
      //color: red;
      line-height: 14px;
      letter-spacing: 0.1em;
      opacity: 0.5;
    }

     input,
     textarea {
        width: 100%;
        //max-width: 800px;
        margin-top: 11px;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        //background-color: green;
        color: #fff;
        border: 0;
        padding: 15px;
      }

      &__title {
        margin-top: 60px;
      }

    &__content-block {
      position: relative;
    }

    &__gallery-description {
      position: relative;
      margin-bottom: 16px;

      svg:nth-child(3) {
        position: absolute;
        right: 0px;
      }
    }

    &__url {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      margin: 16px 0 0 0;
      //position: relative;


      iframe {
        margin-top: 15px;
        max-height: 75px;
        max-width: 100px;
      }
    }

    &__tags-input {
      position: relative;
    }

    .svg-delete {
      position: absolute;
      stroke: #e1e1e1;

      &.block-right {
        right: -2px;
      }

      &.gallery-right {
        right: 0px;
      }

      &.sources-right {
        right: 25px;
      }

      &.warning {
        &:hover {
          stroke: $red;
          }
      }
    }

    &__sources-wrapper {
      position: relative;
      margin-bottom: 20vh;
    }
  }

  .svg__content-block {
    position: absolute;
    display: inline-block;
    right: 26px;

    svg:nth-child(2) {
      margin-right: 25px;
    }
  }

  .video-url,
  .image-url {
    flex: 1;
  }

  .video-url {
    margin-right: 10px;
  }

  .image-url {
    margin-left: 10px;
  }

  .url-input__wrapper,
  .img-input__wrapper {
    position: relative;
  }

  .url-svg,
  .img-svg {
    position: absolute;
    bottom: 17px;
    right: 17px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    &-wrapper {
      display: flex;
      align-items: center;
      padding-right: 28px;
    }

    &-wrapper:hover {
      color: $red;
    }

    &-wrapper:hover .btn--width-small:after {
      content: 'X';
      color: $red;
    }
  }

  .sources {
    position: relative;
  }

  .source-wrapper {
    display: flex;
    align-items: center;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 0.5;
    color: #fff;
  }

  .picture-options {
    display: flex;
    justify-content: space-between;

    &__format,
    &__amount {
      display: flex;
      flex-direction: column;
    }

    &__amount {
        text-align: center;
    }

    &__format {
      justify-content: space-between;

        .format-select__wrapper {
          position: relative;
        }

        .format-select__svg {
          position: absolute;
          bottom: 18px;
          right: 14px;
          z-index: 1;
        }
      }
    }

  .main-picture-label {
    position: relative;

    & input {
      visibility: hidden;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      overflow: hidden;
      left: 10px;
      bottom: -55px;
    }

    & span {
      height: 23px;
      width: 23px;
      border: 2px solid $green;
      left: 0;
      bottom: -55px;
      position: absolute;
    }

    & input[type="checkbox"]:checked + span::after {
       content: 'X';
       color: white;
       font-size: 24px;
       line-height: 17px;
       position: absolute;
       left: 2px;
    }
   }

  select {
    appearance: none;
    width: 250px;
    padding: 5px 35px 5px 15px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    color: #fff;

    option {
    background: #05100B;
    }
  }

  .amount-input {
    display: flex;
    max-width: 150px;
    align-items: center;

    span, div {
      flex: 1 0 50px;
      text-align: center;
      height: 45px;
    }

    span {
      margin: 0 1px 0 1px;
      background: rgba(255, 255, 255, 0.2);
      align-self: flex-end;
      padding-top: 14px;
    }
  }

/*   .admin {
  .article-header textarea {
    height: 125px;
    font-size: 20px;
  }
  .sources-wrapper textarea,
  .tags-wrapper textarea {
    height: 50px;
    max-width: 600px;
  }
  .sources-wrapper,
  .tags-wrapper {
    .btn {
      padding: 2px 5px;
      display: inline-block;
    }
    .tag-option {
      padding: 5px 15px 20px;
    }
  }
  .tag {
    padding: 5px;
  }
} */

.admin-panel {
  order: 2;
  align-self: flex-start;

  &__title {
    margin-bottom: 20px;
  }

  .setting {
    margin-top: 32px;
    margin-bottom: 28px;
    font-size: 12px;

    img {
      margin-top: 13px;
    }
  }
/*   .status-edited {
    font-size: 15px;
    // bottom: 20px;
    // left: 20px;
    // position: absolute;
  } */
  .btn {
    //margin-top: 20px;
    margin-bottom: 32px;
  }

  &__date {
    display: flex;
    flex-direction: column;
  }

  @include respond-width($w768) {
      order: 0;
      margin-left: 0;
    }
}

.thumb-admin {
  img {
    position: absolute;
    max-height: 70px;
    transform: translate(0, -35%);
  }
}

/* .article-title {
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
} */
/* .article-header {
  color: $green;
  font-size: 25px;
  // font-size: 2.2vw;
} */

/* .article-header,
.section-description {
  //max-width: 65%;
  margin: 0px 0px;
} */


input[type="date" i]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.btn {
    width: 90px;
    height: 40px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;

    &--preview {
      width: 88px;
      height: 38px;
      margin: 0 13px 0 42px;
      border: 1px solid ;
      color: $green;
    }

    &--save {
      color: #fff;
      background-color: $green;
      margin-bottom: 10px;
      &:hover {
        background-color: transparent;
        border: 1px solid $white;
      }
    }

    &--save-wrapper {
      margin-bottom: -20px;
      text-align: center;
    }

    &--width-small {
      width: 16px;
    }

    &--width-large {
      width: 119px;
    }

    &--add {
      position: absolute;
      top: 12px;
      right: 0;
    }

     /*  &-status {
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-left: 42px;
        margin-right: 13px;
        background-color: red;
      } */
  }

  .tag {
    &-option__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &-option {
      flex: 1 0 auto;
      margin: 5px 10px;
      width: auto;
    }
  }

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid $green;
  border-radius: 40px;
  cursor: pointer;
  padding-left: 30px;
}

.toggle-thumb:before {
  content: "";
  height: 23px;
  width: 23px;
  position: absolute;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: $green;
  transition: .4s all ease;
  }

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .toggle-thumb {
  padding-left: 11px;
  background-color: $green;
}

.checkbox:checked + .toggle-thumb:before {
  transform: translateX(58px);
  background-color: #1E1E1E;
}

/* .content-tabs {
  .btn {
    font-size: 25px;
    &.content-tab-button {
      font-size: 16px;
      @include respond-width($w768){
        display: block;
      }
    }
  }

  .active {
    text-decoration: underline;
    color: $green;
  }
} */

/* .knowledge-block {
  .article-url {
    * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  iframe,
  img {
    max-height: 75px;
    max-width: 100px;
  }
} */
/* .gallery-checker {
  img {
    max-height: 55px;
  }
} */
</style>
