/* @font-face {
  font-family: 'AcuminPro';
font-style: normal;
font-weight: normal;
  // font-family: 'Acumin';
  src: url('./assets/fonts/Acumin-RPro.woff');
}
@font-face {
  font-family: 'AcuminProLight';
font-style: normal;
font-weight: normal;
  // font-family: 'Acumin';
  src: url('./assets/fonts/Acumin-RPro.woff');
} */

// @font-face {
//   font-family: 'Lato';
//   font-weight: 400;
//   src: url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
//     url('./assets/fonts/Lato-Regular.woff') format('woff');
// }
//
// @font-face {
//   font-family: 'LatoLight';
//   font-style: normal;
//   font-weight: 300;
//   src: url('./assets/fonts/Lato-Light.woff2') format('woff2'),
//     url('./assets/fonts/Lato-Light.woff') format('woff');
// }

@import '_admin.scss';
@import '_webgl.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: rgba($green , 0.45) ;
  border-radius: 5px;
  transition: ease all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  // width: 10px;
  background: $green;
}

html {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Lato, sans-serif;
  color: $white;
  background: $grey-d-bg;
  overflow-x: hidden;
  letter-spacing: 0.25em;
  font-family: 'Lato', sans-serif;

  // height: 100vh;
  // cursor: none;
  // a {
  //   cursor: none;
  //
  //   &:hover {
  //     cursor: none;
  //   }
  // }

}

p,
h1,
h2,
h3,
h4,
div {
  padding: 0px;
  margin: 0px;
}



// *****************************************************
// image loader
// *****************************************************

.img-loader {
  height: 50px;
  width: 50px;
  z-index: 99;
  position: absolute;
  border-radius: 50%;
  top: 15%;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;

  &:before,
  &:after {
    animation: circleone linear infinite 1s;
    content: '';
    background: $green;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 0%;
    height: 0%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }

  &:before {
    animation: circletwo linear infinite 1s;
    animation-delay: 0.5s;
    background: none;
    border: 5px solid $green;
    border-radius: 50%;
  }

  img {
    position: relative;
    width: 100%;
  }
}

@keyframes circleone {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes circletwo {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }

  100% {
    width: 80%;
    height: 80%;
    opacity: 0;
  }
}
