<template>
  <div class="article-wrapper">
    <article class="shop">
      <h1 class="shop-title">Shop</h1>
      <h2  class="shop-header" >Comming soon with GOTS certified products!</h2>
      <img src="/assets/img/common/gots-img.png" alt="gots logo" class="gots-logo" />
      <p  class="shop-description" >The Global Organic Textile Standard (GOTS) was developed through collaboration by leading standard setters with the aim of defining requirements that are recognised world-wide and that ensure the organic status of textiles from harvesting of the raw materials through environmentally and socially responsible manufacturing all the way to labelling in order to provide credible assurance to the consumer.</p>
    </article>

    <!-- <article class="shop">
      <h1 class="shop-title">GLOBAL ORGANIC TEXTILE STANDARD</h1>
      <h2 class="shop-header">All the products are GOTS certificated</h2>
      <img src="/assets/img/common/gots-img.png" alt="gots logo" class="gots-logo" />
      <p  class="shop-description" >The Global Organic Textile Standard (GOTS) was developed through collaboration by leading standard setters with the aim of defining requirements that are recognised world-wide and that ensure the organic status of textiles from harvesting of the raw materials through environmentally and socially responsible manufacturing all the way to labelling in order to provide credible assurance to the consumer.</p>
    </article> -->

  </div>
</template>

<script>

import {DesignClapService} from './designClapService.js';
import {gsap} from 'gsap';

export default {
  name: "About",
  data() {
    return {
      designs : null,
      clapIntensity : 0,
      clapIntensityInterval: false,
    };
  },
  methods: {
    clap(_design) {

      this.clapIntensity += 0.3;

      if(!this.clapIntensityInterval){
        this.clapIntensityInterval = setInterval( () => {
          this.clapIntensity -= 0.1;
          gsap.to('#svg_' + _design.name , 0.1 , {scale: 1 + this.clapIntensity});
          if(this.clapIntensity <= 0){
            clearInterval(this.clapIntensityInterval);
            this.clapIntensityInterval = false;
          }
        } , 50);
      }

      gsap.to('#svg_' + _design.name , 0.1 , {scale: 1 + this.clapIntensity});

      DesignClapService.clap(_design.name).then( (_designResponse) => {
        _design.claps = _designResponse.claps;
      })
    },
  },
  mounted(){
    DesignClapService.getClaps().then( (_claps)=> {
      this.designs = _claps;
    })
    gsap.fromTo( '.article-wrapper' , { opacity: 0 , y: '-25px' } , { duration: 1,  opacity: 1 , y: '0px'}  )
  },
};
</script>

<style scoped lang="scss" >

.article-wrapper {
  @include article-wrapper;

}

.display-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13vh;
  @include respond-width($w768) {
    flex-direction: column;
  }
}

img {
  border-radius: 5px;
  max-width: 100%;
}

.shop {

   &:first-of-type {
  margin-bottom: 13vh;
@include respond-width($w768) {
    margin-bottom: 10vh;
  }
}

  &-title {
    @include font-title;
    padding-bottom: 20px;
  }

  &-header {
    @include font-subtitle;
    max-width: 552px;
    padding-bottom: 52px;
  }

  &-description {
    @include font-description;
    max-width: 953px;
  }

  .gots-logo {
    padding: 0vh 0px  5vh;
    max-height: 100%;
    width: 15vmax;
  }

  .main-picture {
    position: relative;
    margin-right: 20px;
    @include respond-width($w768) {
    margin-right: 0px;
    margin-bottom: 40px;
  }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 552px;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(62, 194, 143, 0.9);
      border-radius: 5px;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .claps {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        font-size: 22px;
        letter-spacing: normal;
        margin-top: 27px;
      }
    }
  }

  .pictures {
    align-self: flex-end;
    display: grid;
    grid-template-columns: auto auto;
    //grid-template-rows: repeat(auto-fill, minmax(253px, 1fr));
    grid-template-rows: auto;
    //grid-gap: 13px 42px;
    column-gap: 4%;
    //row-gap: 10%;
    row-gap: 4vh;

     @include respond-width($w768) {
    max-width: 552px;
  }
  }
}

.support {
  margin: 30px auto;
  &-title {
    margin: 0px 0px 20px;
  }
  .wallets-wrapper {
    text-align: center;
    display: flex;
  }
  .wallet {
    display: block;
    img {
      margin-top: 20px;
      border-radius: 10px;
    }
  }
}
</style>
