<template>
  <div class="article-wrapper">
    <article class="shop">
      <h1 class="shop-title">Shop</h1>
      <h2  class="shop-header" >Clap for your favorite design, the design with the most claps will be in production first!</h2>
      <!-- <p class="shop-description"  >small description</p> -->
    </article>

    <article class="shop display-flex" v-for="design in designs">
      <!-- {{design.name}} -->
      <div class="main-picture" @click="clap(design)">
        <img src="/assets/img/shop/main-img.png" class="main-img" />
        <div class="overlay">
          <div class="claps">
            <svg :id="'svg_' + design.name" width="109" height="109" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M86.914 59.84l3.22-3.22a7.973 7.973 0 00.516-10.957 7.712 7.712 0 00-3.961-2.374l.652-.652a7.958 7.958 0 00.515-10.962 7.735 7.735 0 00-5.587-2.588 7.998 7.998 0 00-5.743 2.273l-.36.36a7.714 7.714 0 00-5.087-2.12 7.941 7.941 0 00-5.72 2.282l-3.707 3.708a7.806 7.806 0 00-7.576-5.986h-.011a7.735 7.735 0 00-5.492 2.282L34.419 46.039a9.698 9.698 0 00-3.028-5.987 5.798 5.798 0 00-8.008.223L9.975 53.684A31.933 31.933 0 008.33 97.793a31.248 31.248 0 0030.408 9.527 31.182 31.182 0 0026.435-8.94L90.371 73.2a8.008 8.008 0 00.51-10.974 7.714 7.714 0 00-3.967-2.385zm.967-11.689a4.31 4.31 0 01-.373 5.836l-7.931 7.932-.332.332c-.054-.053-.114-.094-.168-.142a7.57 7.57 0 00-.404-.337 8.953 8.953 0 00-.497-.35c-.134-.088-.268-.186-.408-.26a7.966 7.966 0 00-.618-.304c-.121-.056-.237-.118-.36-.166a7.341 7.341 0 00-1.04-.332l2.573-2.575.646-.643c.33-.336.63-.698.898-1.084.114-.158.209-.324.31-.488a9.236 9.236 0 00.674-1.35c.033-.091.059-.186.09-.272a8.089 8.089 0 00.438-3.192v-.016a7.919 7.919 0 00-.145-1.047c-.015-.075-.035-.149-.052-.224-.043-.186-.073-.372-.129-.538l.931-.93.03-.03a3.985 3.985 0 012.952-1.17 4.028 4.028 0 012.915 1.35zm-8.722-14.154a4.12 4.12 0 013.01-1.19 4.05 4.05 0 012.922 1.362 4.294 4.294 0 01-.384 5.833l-5.332 5.33-.037.039-.33.331c-.046-.043-.096-.078-.141-.12a5.626 5.626 0 00-.454-.372c-.157-.111-.293-.21-.442-.309-.149-.098-.3-.203-.458-.292-.158-.09-.372-.186-.559-.272-.141-.067-.279-.14-.424-.197a7.742 7.742 0 00-1.002-.32h-.02l.653-.653c.35-.356.666-.743.946-1.156.049-.069.091-.138.136-.209a8.18 8.18 0 00.572-1.028c.046-.098.097-.186.14-.292.172-.407.31-.826.415-1.255.033-.136.048-.274.074-.41.056-.29.097-.581.123-.875.015-.186.023-.373.024-.572 0-.257-.013-.512-.035-.769-.017-.186-.024-.373-.052-.544a7.763 7.763 0 00-.267-1.138l.922-.921zM19.232 101.47a27.878 27.878 0 01-8.143-6.187 28.218 28.218 0 011.525-38.968l13.408-13.41a2.162 2.162 0 011.524-.636c.482-.007.948.171 1.303.497a6.058 6.058 0 01.144 8.703L16.383 64.07a1.863 1.863 0 102.633 2.633l12.597-12.595 19.59-19.59a4.031 4.031 0 012.867-1.19 4.08 4.08 0 012.883 6.962L35.976 61.27a1.862 1.862 0 102.634 2.634l20.979-20.98 8.41-8.409a4.078 4.078 0 015.916.162c.515.58.84 1.306.931 2.077 0 .05 0 .104.01.156.019.196.023.394.015.59 0 .07-.013.138-.02.207a4.727 4.727 0 01-.137.76 4.74 4.74 0 01-.201.58 2.992 2.992 0 01-.058.137c-.23.497-.544.949-.93 1.335l-4.323 4.323-1.017 1.015-.011.013v.009l-23.8 23.79a1.861 1.861 0 102.633 2.632l23.79-23.79c.077-.077.165-.13.245-.2a4.214 4.214 0 012.631-.985h.112c.277.007.553.042.823.104.813.192 1.548.63 2.102 1.255a3.7 3.7 0 01.846 1.677 4.517 4.517 0 01-1.233 4.154l-.372.373-7.556 7.537c-.016.016-.02.037-.037.054l-15.59 15.589a1.862 1.862 0 102.634 2.633L71.045 65.07a4.044 4.044 0 012.107-1.117l.054-.015a3.944 3.944 0 011.571.035l.079.011c.095.023.186.065.273.093a4.07 4.07 0 011.827 1.16 3.7 3.7 0 01.46.636 4.417 4.417 0 01-.85 5.2l-25.2 25.185c-.512.512-1.04.998-1.583 1.464-.1.084-.203.162-.303.246-.432.359-.87.705-1.319 1.037-.175.128-.355.251-.532.372a29.541 29.541 0 01-1.818 1.172c-.372.214-.734.419-1.108.618-.246.13-.493.261-.745.384-.346.171-.698.329-1.052.484-.281.125-.559.253-.85.372-.29.12-.603.224-.904.334-.35.126-.697.259-1.05.372-.07.022-.14.039-.21.06-.543.167-1.092.322-1.647.456-.017 0-.03.017-.049.022a27.774 27.774 0 01-18.964-2.182zM62.54 95.74a27.585 27.585 0 01-14.14 7.613c.111-.07.212-.158.324-.231.6-.385 1.177-.81 1.754-1.24.335-.248.682-.478 1.006-.745.694-.558 1.36-1.17 2.013-1.797.164-.154.344-.288.503-.447l25.197-25.197c.336-.345.641-.719.912-1.117.093-.132.172-.268.257-.404.147-.236.282-.479.404-.728.105-.213.201-.423.287-.641.054-.14.097-.283.144-.427.32-.958.459-1.97.406-2.98v-.167a7.287 7.287 0 00-.129-.944c-.024-.125-.058-.246-.088-.373-.03-.126-.061-.305-.108-.452l.919-.92a4.072 4.072 0 015.922.15 4.342 4.342 0 01-.384 5.86L62.54 95.74zM107.807 8.113a1.862 1.862 0 00-2.633 0L94 19.287a1.862 1.862 0 102.633 2.634l11.174-11.174a1.864 1.864 0 000-2.634zM105.658 22.662l-7.45 3.724a1.863 1.863 0 101.665 3.334l7.449-3.725c.443-.22.779-.608.935-1.077a1.86 1.86 0 00-1.177-2.357 1.862 1.862 0 00-1.422.1zM86.909 18.475a1.862 1.862 0 002.555-.637l5.587-9.311a1.862 1.862 0 00-3.192-1.918l-5.587 9.311a1.862 1.862 0 00.637 2.555zM41.461 15.75a1.862 1.862 0 003.423-1.467L39.297 1.247a1.862 1.862 0 00-3.423 1.468l5.587 13.036zM50.621 16.88a1.862 1.862 0 001.862-1.863V3.843a1.862 1.862 0 10-3.724 0v11.174a1.862 1.862 0 001.862 1.862zM34.269 19.905a1.863 1.863 0 102.909-2.327l-7.45-9.312a1.862 1.862 0 10-2.909 2.328l7.45 9.312z"
                fill="#fff"
              />
            </svg>
            <p>{{design.claps}} claps</p>
          </div>
        </div>
      </div>
      <div class="pictures">
        <img src="/assets/img/shop/img1.png" alt class="img1" />
        <img src="/assets/img/shop/img2.png" alt class="img2" />
        <img src="/assets/img/shop/img3.png" alt class="img3" />
        <img src="/assets/img/shop/img4.png" alt class="img4" />
      </div>
    </article>

    <article class="shop">
      <h1 class="shop-title">GLOBAL ORGANIC TEXTILE STANDARD</h1>
      <h2 class="shop-header">All the products are GOTS certificated</h2>
      <img src="/assets/img/common/gots-img.png" alt="gots logo" class="gots-logo" />
      <p  class="shop-description" >The Global Organic Textile Standard (GOTS) was developed through collaboration by leading standard setters with the aim of defining requirements that are recognised world-wide and that ensure the organic status of textiles from harvesting of the raw materials through environmentally and socially responsible manufacturing all the way to labelling in order to provide credible assurance to the consumer.</p>
    </article>
  </div>
</template>

<script>

import {DesignClapService} from './designClapService.js';
import {gsap} from 'gsap';

export default {
  name: "About",
  data() {
    return {
      userClapAmount: null,
      designs : null,
      clapIntensity : 0,
      clapIntensityInterval: false,
    };
  },
  methods: {
    clap(_design) {

      this.clapIntensity += 0.3;

      if(!this.clapIntensityInterval){
        this.clapIntensityInterval = setInterval( () => {
          this.clapIntensity -= 0.1;
          gsap.to('#svg_' + _design.name , 0.1 , {scale: 1 + this.clapIntensity});
          if(this.clapIntensity <= 0){
            clearInterval(this.clapIntensityInterval);
            this.clapIntensityInterval = false;
          }
        } , 50);
      }

      gsap.to('#svg_' + _design.name , 0.1 , {scale: 1 + this.clapIntensity});

      DesignClapService.clap(_design.name).then( (_designResponse) => {


        if( this.userClapAmount < 30 ) {

          this.userClapAmount += 1;
          _design.claps = _designResponse.claps;
          localStorage.setItem('claps', this.userClapAmount);

        }
      })



    },
  },
  mounted(){
    DesignClapService.getClaps().then( (_claps)=> {
      this.designs = _claps;
      console.log(_claps);
    })
    gsap.fromTo( '.article-wrapper' , { opacity: 0 , y: '-25px' } , { duration: 1,  opacity: 1 , y: '0px'}  )

    this.userClapAmount = window.localStorage.getItem('claps');
  },
};
</script>

<style scoped lang="scss" >

.article-wrapper {
  @include article-wrapper;

}

.display-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13vh;
  @include respond-width($w768) {
    flex-direction: column;
  }
}

img {
  border-radius: 5px;
  max-width: 100%;
}

.shop {

   &:first-of-type {
  margin-bottom: 13vh;
@include respond-width($w768) {
    margin-bottom: 10vh;
  }
}

  &-title {
    @include font-title;
    padding-bottom: 20px;
  }

  &-header {
    @include font-subtitle;
    max-width: 552px;
    padding-bottom: 52px;
  }

  &-description {
    @include font-description;
    max-width: 953px;
  }

  .gots-logo {
    padding: 0vh 0px  5vh;
    max-height: 100%;
    width: 15vmax;
  }

  .main-picture {
    position: relative;
    margin-right: 20px;
    @include respond-width($w768) {
    margin-right: 0px;
    margin-bottom: 40px;
  }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 552px;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(62, 194, 143, 0.9);
      border-radius: 5px;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .claps {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        font-size: 22px;
        letter-spacing: normal;
        margin-top: 27px;
      }
    }
  }

  .pictures {
    align-self: flex-end;
    display: grid;
    grid-template-columns: auto auto;
    //grid-template-rows: repeat(auto-fill, minmax(253px, 1fr));
    grid-template-rows: auto;
    //grid-gap: 13px 42px;
    column-gap: 4%;
    //row-gap: 10%;
    row-gap: 4vh;

     @include respond-width($w768) {
    max-width: 552px;
  }
  }
}

.support {
  margin: 30px auto;
  &-title {
    margin: 0px 0px 20px;
  }
  .wallets-wrapper {
    text-align: center;
    display: flex;
  }
  .wallet {
    display: block;
    img {
      margin-top: 20px;
      border-radius: 10px;
    }
  }
}
</style>
