<template>

  <div class="text-holder">
    <h1>
      <span v-show="!showLogo" class="word"  >
        <span class="character" v-for=" (item, index) in activeWord " :class="{'green-char' : item === specialCharacter.value && specialCharacter.index == index }" >{{item}}</span>
      </span>
    </h1>
    <span v-show="showLogo" class="logo-holder" >
      <img class="welcome-loader-logo" src="/assets/img/common/logo.svg" alt="logo">
    </span>
  </div>

</template>

<script>

import {gsap} from 'gsap';

export default {
  name: 'words',
  props: ['aniConfig'],
  data () {
    return {
      wordsToAnimate: ['alchemy', 'geometry', 'symbolism', 'philosophy', 'physics', 'knowledge'],
      specialCharacters: ['e', 'o',  't', 'm'],
      specialCharacter: {value: '', index: null},
      changeInt: 150,
      changeIntMin: 100,
      changeSpeed: 10,
      activeWord: null,
      showLogo: false,
    };
  },
  created: function (){

  },
  computed: {
    // hexHolderSize() {
    // },
    // isLandscape(){
    //   return window.innerWidth > window.innerHeight;
    // }

  },
  methods: {

    specialCharFind(_word){
      let wordArray  = _word.split('');
      let foundSpecChar = false;
      for(const [index, value] of wordArray.entries() ) {
        if( this.specialCharacters.includes(value) ){
          foundSpecChar = true;
          return { value: value, index: index};
        }
        if(!foundSpecChar && index === wordArray.length - 1){
          return { value : '', index: null};
        }
      }
    },
    initAnimation(){
      setTimeout(()=>{
        // this.logoAnimate();
        this.wordsAnimate();
      }, 0 );
      setTimeout(()=>{
        this.logoAnimate();
      }, this.aniConfig.aniDuration - this.aniConfig.aniEndDuration  );
    },
    logoAnimate(){
      this.showLogo = true;
      gsap.fromTo('.welcome-loader-logo' , { opacity: 0.7,  scale: 0.5 } , { duration: this.aniConfig.aniEndDuration / 1000,  opacity: 0.9, scale: 1  } );

    },
    wordsAnimate(){

      let wordCount = -1;

      let wordChange = () => {
        wordCount++
        this.changeInt = this.changeInt < this.changeIntMin ? this.changeIntMin : this.changeInt - this.changeSpeed ;

        this.specialCharacter = this.specialCharFind(this.wordsToAnimate[wordCount]);
        this.activeWord = this.wordsToAnimate[wordCount].split('');
        // console.log(wordCount, this.wordsToAnimate.length, ' - > ', this.wordsToAnimate[wordCount] );
        if(wordCount < this.wordsToAnimate.length - 1  ){
          setTimeout( () => {
            wordChange();
          } , this.changeInt )
        }else {
          wordCount = 0;
          wordChange();
        }
      };
      wordChange();
    },

  },
  mounted(){
    // this.initAnimation();
    // this.wordsAnimate();
  },
  watch:{
    aniConfig: {
      handler(val){
        if(val.startAni == true){
          setTimeout(()=>{
            this.initAnimation();
          }, 100)
        }
      },
      deep:true
    }
  }
}

</script>

<style scoped lang="scss" >

.text-holder{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.word{
  font-weight: 400;
  font-size: 80px;
  line-height: 84px;
  text-align: center;
  font-family: 'LatoLight', sans-serif;
  text-transform: uppercase;
  @include respond-width($w550){
    font-size: 12vw;
  }
}
.green-char{
  color: $green;
}
.welcome-loader-logo{
  position: relative;
  width: 40vw;
  max-width: 500px;
  @include respond-width($w550){
    width: 80vw;
  }
}

</style>
