<template>

  <div id="loaderImgs" >
      <img v-for="(item , index) in images" class="loader-img" :class="'loader-img-' + item " :src="'/assets/img/welcome-loader/welcome-img-' + item + '-sm.png' " @load="imageLoaded(index)" alt="">
  </div>

</template>

<script>

import {gsap} from 'gsap';

export default {
  name: 'imgs',
  props: ['aniConfig'],
  data () {
    return {
      scaleMin: 0.7,
      scaleMax: 0.95,
      // images: [ '1' , '2' , '3' , '4' ],
      images: [ '1' , '2' , '3' ],
      imageAppearDelay: 0,
    };
  },
  created: function (){

  },
  computed: {

  },
  methods: {
    imageLoaded(_index){
      if(_index == this.images.length - 1){
        this.$emit("startWelcomeAnimation");
      }

    },
    animateImages(){
      let imgsAniTimelines = [];
      const imgDuration = (this.aniConfig.aniDuration) / this.images.length / 1000;
      const scaleStep = (this.scaleMax - this.scaleMin) / this.images.length;

      for (var i = 0; i < this.images.length; i++) {
        const imgDelay = this.imageAppearDelay + imgDuration * i;
        const scaleFrom = this.scaleMin + scaleStep * i;
        const scaleTo =  scaleFrom + scaleStep;
        const elClass = '.loader-img.loader-img-' + this.images[i];

        imgsAniTimelines[i] =  gsap.timeline( { ease : 'linear' } );
        imgsAniTimelines[i]
        .to( elClass , 0 , { opacity:  0 , scale: scaleFrom, delay: imgDelay } )
        .to( elClass , i == 0 ? 0.7 : 0.1 , { opacity:  0.3 , delay: 0 }, '<' )
        .to( elClass , imgDuration , {  scale: scaleTo , delay: 0,  ease : 'linear' } , '<' )
        if(i < this.images.length - 1) {
          imgsAniTimelines[i]
          .to( elClass , 0.1 , { opacity:  0 , delay: imgDuration,  ease : 'linear' }  , '<'  )
        }else{
          imgsAniTimelines[i]
          .to( elClass , 0.5 , { opacity:  0 , delay: imgDuration - 0.5,  ease : 'linear' }  , '<'  )
        }

      }

    },

  },
  mounted(){
    // this.animateImages();
  },
  watch:{
    aniConfig: {
      handler(val){
        if(val.startAni == true){
          this.animateImages();
        }
      },
      deep:true
    }
  }
}

</script>

<style scoped lang="scss" >

#loaderImgs{
  position: absolute;
  top: 50%;
  transform: translate(0 , -50%);
  left: 0px;
  right: 0px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  @include respond-width($w550){
    height: auto;
    width: 100vw;
  }
  img{
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0 , -50%);
    bottom: 0px;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    opacity: 0;
    // filter: grayscale(1);
    @include respond-width($w550){
      height: auto;
      width: 100%;
    }
  }
}

</style>
