<template>

  <div class="main-loader-wrapper" v-if="aniConfig.activeLoader">

    <loader-imgs @startWelcomeAnimation="startWelcome" :ani-config="aniConfig" ></loader-imgs>

    <loaderSymbols :ani-config="aniConfig" ></loaderSymbols>

    <loaderWords :ani-config="aniConfig" ></loaderWords>

  </div>

</template>

<script>

import loaderSymbols from './loaderSymbols.vue';
import loaderImgs from './loaderImgs.vue';
import loaderWords from './loaderWords.vue';

import { gsap } from "gsap";


export default {
  name: 'MainLoader',
  components: {
    loaderSymbols,
    loaderImgs,
    loaderWords
  },
  data () {
    return {
      aniConfig: { startAni: false, activeLoader: true, aniDuration: 3000, aniEndDuration: 1000 }, // full:2500 , end:1000
    };
  },
  created: function (){

  },
  methods: {
    startWelcome(){
      this.aniConfig.startAni = true;

      let disableAnimation = true  ;
      // let disableAnimation = false ;
      // let disableAnimation = window._eotmConfig.mode == "development" || this.$store.state.isAdminMode ;

      setTimeout( () => {
        this.$store.commit("enterAnimationDone", true);
        this.$store.commit("noScrollState", false);
        this.aniConfig.startAni = false;
      } , disableAnimation ? 0 : this.aniConfig.aniDuration );

    },
  },
  mounted(){

  }

}

</script>

<style scoped lang="scss" >


.main-loader-wrapper{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

}



</style>
