<template>

  <div class="main-loader-wrapper" v-if="aniConfig.activeLoader">
    <div class="enter-loader-line-holder">
      <div ref="loaderLine" class="enter-loader-line"></div>
    </div>
  </div>

</template>

<script>


import { gsap } from "gsap";
import { mapState } from 'vuex';


export default {
  name: 'MainLoader',
  components: {
  },
  data () {
    return {
      loaderAniTimeline: null,
      aniConfig: { startAni: false, activeLoader: true, aniDuration: 6000, aniEndDuration: 300 }, // full:2500 , end:1000
    };
  },
  computed: mapState(['thumbsLoaded']),
  created: function (){

  },
  methods: {
    startLoader(){
      // let disableAnimation = false  ;
      let disableAnimation = window._eotmConfig.mode == "development" || this.$store.state.isAdminMode;

      this.aniConfig.startAni = true;

      this.loaderAniTimeline = gsap.to( this.$refs.loaderLine , this.aniConfig.aniDuration / 1000 , { width: '100%' } );

      setTimeout( () => {
        this.finishLoader();
      } , disableAnimation ? 0 : this.aniConfig.aniDuration );

    },
    finishLoader(){
      this.$store.commit("enterAnimationDone", true);
      this.$store.commit("noScrollState", false);
      this.aniConfig.startAni = false;
    }
  },
  mounted(){
    this.startLoader();
  },
  watch: {
    thumbsLoaded(val){
      if(val == true){
        this.loaderAniTimeline.pause();
        gsap.to( this.$refs.loaderLine , this.aniConfig.aniEndDuration / 1000 , { width: '100%' } );
        setTimeout( () => {
          this.finishLoader();
        },  this.aniConfig.aniEndDuration );
      }
    }
  }

}

</script>

<style scoped lang="scss" >


.main-loader-wrapper{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
.enter-loader-line-holder{
  position: absolute;
  top: 50%;
  margin:  0 auto;
  transform: translate(0 , -50%);
  left: 0px;
  right: 0px;
  width: 50%;
  max-width: 200px;
  border-radius: 50px;
  border: 2px solid $green-trans-l;
  height: 10px;
  overflow: hidden;
}
.enter-loader-line{
  border-radius: 50px;
  background: $green-trans-l;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
}



</style>
